h1 {
    text-align: center;
    font-family: 'Lora', serif;
    color: rgb(0, 0, 0);
    font-size: 3em;
    padding: 45px;
    background-image: url(Матеріали/фон\ 2.jpg);
}

a {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 1.2em;
    

}

a:hover {
    letter-spacing: 3px;
    color: rgb(13, 26, 102);
    font-weight: 900;

}

p {

    text-align: justify;
    font-family: 'Lora', serif;
    font-size: 20px;

}

img {
    transition: 0.5s;
    width: 60%;
    margin: 20px;


}

img:hover {
    border-radius: 25%;
    box-shadow: 0px 0px 7px rgb(213, 222, 249),
        0px 0px 5px rgb(0, 0, 0),
        0px 0px 3px rgb(255, 255, 255);
}

body {
    padding: 20px;

}

.menu-item {
    text-shadow: 0px 0px 1px black;
    margin: 3px;
    padding: 10px;
    text-align: center;
    

}
