html {
    scroll-behavior: smooth;
}

img {
    width: 250px;
}

.right {
    float: right;
    border: 1px solid gray;
    padding: 25px;
    background-color: lavender;
}

.left {
    float: left;
    border: 1px solid gray;
    padding: 25px;
    background-color: lavender;
}

.menu {
    border: 1px solid rgb(168, 158, 158);
    padding: 25px;
    background-color: lavender;
    width: 300px;
}

h2 {
    border-bottom: 1px solid gray;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

a,li{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
body{
   padding-left: 3%;
   padding-right: 3%;
}